<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="sigcomt@smtp.com">
        <!--<network host="smtp.gmail.com" port="587" userName="testejemplito@gmail.com" password="probando" enableSsl="true" defaultCredentials="false" />-->
        <network host="retail.smtp.com" port="25" userName="sigcomt" password="sigcomt1" enableSsl="false" defaultCredentials="false" />
      </smtp>
    </mailSettings>
    <connectionManagement>
      <add address="*" maxconnection="99" />
    </connectionManagement>
  </system.net>
</configuration>