<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="VIPAC" connectionString="Data Source=SERVERTEST\SQLEXPRESSSIG; Initial Catalog=VIPACBD; User ID=sa; Password=Sigcomt2013; Connect Timeout=200;" providerName="System.Data.SqlClient" />-->
    <add name="VIPAC" connectionString="Data Source=.; Initial Catalog=VIPACBDTest; User ID=sa; Password=sigcomt; Connect Timeout=200;" providerName="System.Data.SqlClient" />
    <!--<add name="VIPAC" connectionString="Data Source=n7gai1baka.database.windows.net; Initial Catalog=AzureVipac; User ID=Administrador@n7gai1baka; Password=Pa$$w0rd; Connect Timeout=200;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="SchemaDB" value="RESERVAS" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>